.formcadastrogarcom{
   margin: 0px 226px;
   width: 552px;
}

.inputsair{
    margin-left: 460px;
    margin-top: -34px;
}

h2{
    text-align: center;
}

.form-control{
    min-width:300px;
}

.garcomfieldset{
    margin: 70px 166px;
}
